@using Microsoft.AspNetCore.Authentication

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h2>Search by case id</h2>
<form asp-controller="case" asp-action="details" method="GET"> 
    <p>
        Case Id: <input type="number" name="id">
        <input type="submit" value="Submit" />
    </p>
</form>
<br>
<h2>View all cases?</h2>
<form asp-controller="case" asp-action="all" method="GET">
    <input type="submit" value="Yes">
</form>
