@model Models.AppUser

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

@Html.Partial("~/Views/Admin/Partials/_DetailedView.cshtml")

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="All">Back to List</a>
</div>
